[submodule "spaces/lichess-puzzles-leaderboard"]
	path = spaces/lichess-puzzles-leaderboard
	url = https://huggingface.co/spaces/lczerolens/lichess-puzzles-leaderboard
[submodule "spaces/lczerolens-backends-demo"]
	path = spaces/lczerolens-backends-demo
	url = https://huggingface.co/spaces/lczerolens/lczerolens-backends-demo
[submodule "spaces/lczerolens-demo"]
	path = spaces/lczerolens-demo
	url = https://huggingface.co/spaces/Xmaster6y/lczerolens-demo
